
Application Data/
Cookies/
Local Settings/
NetHood/
PrintHood/
Recent/
SendTo/
.DS_Store   
Thumbs.db   


.idea/
.vscode/
.vs/


Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/

# Файли конфігурацій
.gitconfig
.gradle/
.matplotlib/
.VirtualBox/
